.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
}

h3,
.subtitle {
  margin: 0;
}

.text-center {
  max-width: 50%;
  margin: 20px auto;
}
