/* .footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.icon-container i {
  font-size: 3em; z
  transition: all 0.3s ease; Optional: for smooth hover effect
}

.icon-container i:hover {
  transform: scale(1.1); Optional: for a slight zoom effect on hover
  cursor: pointer; Optional: for a hand cursor on hover
} */

.custom-footer {
  background-color: #ffffff;
  color: #000000;
  padding: 1rem 0;
}

.custom-footer a {
  color: #000000;
  text-decoration: none;
}

.custom-footer a:hover {
  color: #00a4ff;
}

.icon-container {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.icon-container li {
  margin: 0 1rem;
}

.icon-container i {
  font-size: 1.5rem;
}
