.custom-footer {
  background-color: #ffffff;
  color: #000000;
  padding: 1rem 0;
  margin-top: auto;
}

.custom-footer a {
  color: #000000;
  text-decoration: none;
}

.custom-footer a:hover {
  color: #00a4ff;
}

.icon-container {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.icon-container li {
  margin: 0 1rem;
}

.icon-container i {
  font-size: 1.5rem;
}
